{% extends "AdminBundle::base.html.twig" %}
{% block content_title %}
    MON PROFILE
{% endblock  %}


{% block breadcrumb %}
    <li>
        <a href="{{ path("admin_homepage") }}"> <i class="fa fa-dashboard"></i> Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-dashboard"></i> Profile</a>
    </li>
{% endblock %}


{% block message %}
    Ici vous pouvez changer des parametres relatifs à votre profile .A savoir mot de passe et nom d'utilisateur

    <br>
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block contenu_gauche %}


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b class="panel-title">
                        <i class="fa fa-user fa-fw"></i> </b>
                </div>
                <div class="panel-body">
                    {% block fos_user_content %}
                        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}





